* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: inline-block;
  margin: 15px 10px;
  width: 280px;
  height: 495px;
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
  border-radius: 15px;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 2px 19px;
  background: #333333;
  color: white;
  font-size: 20px;
  /* position: fixed; */
}

.home {
  text-decoration: none;
  color: white;
}
.home:hover {
  color: white;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2px 19px;
  background: #333333;
  color: white;
  font-size: 20px;
}

.footer h1 {
  font-size: 25px;
}

.carrito {
  margin-top: 7px;
}

.carritoF {
  margin-top: 4px
}

.counter {
  margin: 5px;
}

.galeria {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}


.image {
  width: 100%;
  height: 200px;
}

.contenido {
  width: 100%;
  height: 250px;
  background: #F6FBFB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 7px;
}

.review {
  width: 240px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stars .fa {
  font-size: 17px;
  color: #ece896;
}

.stars span {
  font-size: 12px;
  padding-right: 10px;
  color: #bfbfbf;
}

.review h5 {
  font-size: 20px;
  margin-top: 10px;
}

.nombre, .detalles {
  width: 220px;
}

.detalles p{
  color: #bfbfbf;
  font-size: 15px;
}

.btn-box, .btn {
  display: flex;
  align-items: center;
}

.btn-box {
  width: 230px;
  height: 50px;
  justify-content: space-between;
}

.btn p {
  margin-top: 15px;
}

.btn {
  width: 160px;
  height: 55px;
  background: #121212;
  color: #fff;
  font-size: 15px;
  justify-content: space-around;
  border-radius: 15px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
}

.cart-icon, .like {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  background: #333333;
  font-size: 16px;
}

.like {
  background: #ededed;
}

.col-heart {
  color: red;
}

.point {
  cursor: pointer;
}

/** Pagina de informacion **/
.back {
  display: flex;
}

.centrado {
  text-align: center;
  flex-grow: 3;
  margin-right: 90px;
}

.far {
  flex-grow: 1;
  font-size: 40px;
  margin-left: 40px;
  margin-top: 13px;
  color: #333333;
}

.back-next {
  position:absolute;
  top: 160px;
  width: 700px;
  display: flex;
}

.atras {
  margin-right: 100px;
}

.atras2 {
  margin-right: 100px;
  color: #bfbfbf;
}

.siguiente {
  margin-left: 400px;
}

.siguiente2 {
  margin-left: 400px;
  color: #bfbfbf;
}

.containerInfo {
  display: inline-block;
  margin: 15px 250px;
  width: 700px;
  height: 480px;
  box-shadow: 0 10px 20px rgba(10,10,10,.5);
  border-radius: 15px;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

.imageInfo {
  width: 40%;
  height: 240px;
  margin: 10px auto;
}

.reviewInfo {
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px auto;
}

.starsInfo span {
  font-size: 20px;
  padding-right: 10px;
  color: #bbb793;
}

.reviewInfo h5 {
  font-size: 25px;
  margin-top: 10px;
}

.flex {
  display: flex;
  align-items: baseline;
  margin-top: -25px;
}
.nombreInfo {
  width: 100%;
  margin: 20px 40px;
  font-size: 24px;
}

.detallesInfo {
  width: 100%;
  color: #bfbfbf;
  font-size: 15px;
}

.btn-boxInfo, .btnInfo {
  display: flex;
  align-items: center;
}

.btn-boxInfo {
  width: 350px;
  height: 50px;
  justify-content: space-around;
}

.btnInfo p {
  margin-top: 15px;
}

.btnInfo {
  width: 160px;
  height: 55px;
  background: #121212;
  color: #fff;
  font-size: 15px;
  justify-content: space-around;
  border-radius: 15px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
}

.cart-iconInfo, .likeInfo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  background: #333333;
  font-size: 16px;
}

.likeInfo {
  background: #ededed;
}

.col-heartInfo {
  color: red;
}

.pointInfo {
  cursor: pointer;
}

.lista {
  text-decoration: none;
}

/* Cesta */

.containerCesta {
  display: inline-block;
  margin: 15px 10px;
  height: 252px;
  width: 200px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
  border-radius: 15px;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

.nombreCesta {
  margin-left: 63px;
  margin-top: 10px;
}

.nameCesta {
  margin-left: 17px;
  margin-top: 10px;
  width: 100%;
}

.imageCesta {
  width: 100%;
  height: 151px;
}

.reviewCesta {
  width: 240px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex {
  display: flex;
  align-items: baseline;
  margin-top: -25px;
}

.btnDelete {
  display: flex;
  color: red;
  margin-left: -28px;
  width: 100%;
  height: 27px;
  font-size: 20px;
  margin-top: -5px;
  justify-content: flex-end;
}

.fa-minus-circle {
  width: 0;
  height: 18px;
}